{{> header}}
<main>
    <p>Diese kleine App ist ein kleines Beispiel für eine Node.js Applikation. Sie benutzt Daten von
        mapbox.com und darksky.net.
    </p>
    <img class="portrait" src="./img/robot.jpg" alt="">
    <p>{{aboutText}}</p>
</main>
{{> footer}}

</body>

</html>